body {
    color: black;
    font-size: 16px;
    font-family: sans-serif;
    margin: 0px auto 0px auto;
    width: 600px;
    line-height: 1.5;
}

div#header {
    font-family: serif;
    border-bottom: 2px solid black;
    margin-bottom: 12px;
    padding: 12px 0px 12px 0px;
}

div#logo a {
    color: black;
    float: left;
    font-size: 18px;
    font-weight: bold;
    text-decoration: none;
}

div#header #navigation {
    text-align: right;
}

div#header #navigation a {
    color: black;
    font-size: 18px;
    font-weight: bold;
    margin-left: 12px;
    text-decoration: none;
    text-transform: uppercase;
}

#postFooter {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 12px;
    padding: 12px 0px 12px 0px;
}

#postFooter #recent {
    width: 50%;
    float: left;
    padding-right: 10px;
}

#recent ul {
    padding-left: 20px;
}

#postFooter #recentLinks {
    text-align: center;
}

#postFooter #license {
    margin-left: 50%;
    width: 50%;
    text-align: center;
    padding: 10px;
}

.clear {
    clear: both;
}

#footer {
    border-top: solid 2px black;
    color: #555;
    font-size: 12px;
    margin-top: 12px;
    padding: 12px 0px 12px 0px;
    text-align: right;
}

#content img {
    max-width: 100%;
}

#postContent > p:last-child::after {
    content: " ∎";
}

h1 {
    font-size: 24px;
}
h2 {
    font-size: 20px;
}
h3 {
    font-size: 16px;
}
h4 {
    color: grey;
    font-size: 16px;
}

h1, h2, h3, h4, h5, h6 {
    font-family: serif;
}

h2 a, h3 a, h4 a, h5 a, h6 a {
    text-decoration: none;
    color: grey;
    visibility: hidden;
}

h2:hover a, h3:hover a, h4:hover a, h5:hover a, h6:hover a {
    visibility: visible;
}

div.info {
    color: #555;
    font-size: 14px;
    font-style: italic;
}

table {
    border-collapse: collapse;
}

td, th {
    padding: 5px;
    border-bottom: 1px solid lightgrey;
}

th {
    border-top: 1px solid lightgrey;
}

p {
    overflow-wrap: break-word;
    hyphens: auto;
}

blockquote {
    font-style: italic;
}

p code
, h1 code
, h2 code
, h3 code
, h4 code
, h5 code
, h6 code
, dl code
, ul code
, ol code
{
    padding: 3px;
    hyphens: none;
}

code {
    background: #f0f0f0;
    color: #3f3f3f;
}

pre {
    background: #f0f0f0;
    padding: 20px;
    overflow: auto;
}

.sourceCode .im { color: mediumvioletred; } /* import */
.sourceCode .kw { color: mediumvioletred; } /* keyword */
.sourceCode .fu { color: mediumvioletred; } /* function */
.sourceCode .cf { color: mediumvioletred; } /* control flow token */
.sourceCode .op { color: mediumvioletred; } /* operator */
.sourceCode .dt { color: blue; } /* data type */
.sourceCode .va { color: blue; } /* variable */
.sourceCode .bu { color: blue; } /* built-in */
.sourceCode .ex { color: blue; } /* extension */
.sourceCode .at { color: blue; } /* attribute token */
.sourceCode .pp { color: brown; } /* preprocessor directive */
.sourceCode .st { color: brown; } /* string */
.sourceCode .vs { color: brown; } /* verbatim string */
.sourceCode .ss { color: brown; } /* special string */
.sourceCode .dv { color: brown; } /* decimal value */
.sourceCode .bn { color: brown; } /* base n */
.sourceCode .fl { color: brown; } /* float literal */
.sourceCode .ch { color: brown; } /* char */
.sourceCode .sc { color: red; } /* special char */
.sourceCode .cn { color: brown; } /* constant */
.sourceCode .co { color: darkgreen; } /* comment */
.sourceCode .cv { color: green; } /* comment variable */
.sourceCode .ot { color: blue; } /* other token */
.sourceCode .do { color: darkgreen; } /* documentation token */
.sourceCode .re { color: red; } /* region marker */
.sourceCode .er { color: red; } /* error token */
.sourceCode .an { color: red; } /* annotation */
.sourceCode .wa { color: red; } /* warning */
.sourceCode .in { color: red; } /* info */
